.news:hover {
    background-color: rebeccapurple;
    cursor: pointer;
}

.news {
    display: inline-block;
    border: 1px solid black;
    margin: 1%;
    padding: 1%;
}

.selectedIds {
    display: inline-block;
    border: 1px solid black;
    margin: 1%;
    padding: 1%;
}