<ng-container *ngIf="newsList">
    <div *ngFor="let news of newsList" class="news">
        <div (click)="onClick(news)">
            ID : {{news.id}}<br/>
            TITLE : {{news.title}}<br/>
            DATE : {{news.date}}<br/>
            BRIEF : {{news.brief}}<br/>
            CONTENT : {{news.content}}<br/>
        </div>
        <input type="checkbox" (click)="onClickCheckBox(news)">
    </div>
    <br/>
    <div class="selectedIds">
        Выбраные новости:
        <ul *ngFor="let id of selectedNews">
            <li>{{id}}</li>
        </ul>
        <br/>
        <button (click)="deleteSelectedNews()">Удалить новости</button>
    </div>
</ng-container>